.card {
    background-color: antiquewhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


  .danger{
    float:right;
    color: #df546a;
    font-size: 12px;
    letter-spacing: 2px;

  }
  
  .form-label{
    display: inline-block;
    padding-top: 1rem;
  }
  
  .form-input{
      float: right;


  }